 @import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Poppins&family=Whisper&display=swap');
.fontlogo{
/* font-family: 'Grape Nuts', cursive;
font-family: 'Poppins', sans-serif; */
font-family: 'Whisper', cursive;
}

.poppins
{
   font-family: 'Poppins', sans-serif;
 
}